# Ignorowanie katalogów build i Debug
build/
Build/
Debug/
Release/
CMakeFiles/
*.cmake
CMakeCache.txt


*.o
*.obj
*.elf
*.bin
*.hex
*.map
*.lst
*.a
*.out
*.exe


*.log
*.tmp
*.swp
*.bak
*.swo


.idea/
.vscode/
*.launch
*.project
*.cproject
*.settings/
*.workspace


Tests/src/*.o
Tests/src/*.exe


*~
.DS_Store
Thumbs.db

